<h1>.....signup page.......</h1>
<% if (typeof errorMessage !== 'undefined') { %>
  <div class="alert alert-danger"><strong></strong><%= errorMessage %></div>
<% } %>

<form id="form" action="/signup" method="POST">
   <label for="username">Username</label><br>
   <input type="text" name="username"
     placeholder="Username">

   <br><br>
   <label for="password">Password</label><br>
   <input type="password" name="password"
     placeholder="BCrypt-ed Password">
   <br><br>

   <button>Create account</button>

 </form>
